@import './base.css';

#Navbar {
  a {
    color: #666;
    text-decoration: none;
  }
}

#Navbar .router-link-active {
  font-weight: 700;
  text-decoration: underline;
  color: #00f;
}

#Navbar .router-link-exact-active {
  font-weight: 900;
  text-decoration: underline;
  color: #f00;
}
